body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: #E9EAE0;
}
header h1{
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    margin: 0;
}
header ul{
    width: 25%;
    display: flex;
    justify-content: space-around;
}
header ul li{
    text-decoration: none;
    list-style-type: none;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C85250;
}
.register-box{
    border: 1px solid black;
    width: 90%;
    height: 95vh;
    border-radius: 20px;
    display: flex;
    background-color: #F7BEC0;
}
.register-box .register-img{
    width: 40%;
    background-image: url(../assets/register.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0 0 20px;
}
.register-form{
    margin-top: 10%;
    width: 60%;
    
}
form{
    width: 70%;
    margin-left: 5%;
}
.register-form h1{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 48px;
    margin-left: 5%;
}
.register-form form label{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.register-form form input{
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-bottom: 5%;
    
}
.register-form button{
    width: 30%;
    height: 6vh;
    border-radius: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 36px;
    margin-left: 30%;
    margin-top: 5%;
    border: none;
    cursor: pointer;
}